.menu {

    &__item {
        min-height: 100%;

        @include laptop-above {
        &:first-child,
        &:nth-child(3n) {
            border-right: 1px solid var(--bg-border);
            padding-right: 12px;
        }
        }
        
        &-title {
            font-weight: 400;

            &-span {
                color: var(--color-main);
                font-family: var(--font-family-en);
            }
        }
    }

    &__card {
        min-height: 100%;

        &-description {
            display: grid;
            gap: 10px;
        }

        &-link {
            background: var(--bg-sub);
            color: var(--color-main);
            padding: 6px 32px;
            align-self: end;
            max-width: max-content;
            font-weight: 400;

            @include hover {
                background: var(--color-main);
                color: var(--color-light);
            }

            @include tablet {
                padding: 6px 80px;
            }
        }

        &-body {
            display: grid;
            border-block: 1px solid var(--bg-border);
            padding-block: 10px;

            &.visible {
                display: grid;
            }

            &.hide {
                display: none;
            }

            
            @include laptop-above {
            min-height: 260px;            
            }

            @include tablet {
                gap: 10px;
            }
        }

        &-title {
        display: flex;
        gap: 16px;
        font-size: 18px;
        font-family: var(--font-family-base);
        color: var(--color-main);
        }
    }
}