.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 15px 70px;
  color: var(--color-black);
  background-color: var(--color-light-gold-1);
  border: var(--border);
  border-radius: var(--border-radius-xs);

  @include hover {
    opacity: 0.8;
    color: var(--color-accent-1);
  }
}
