.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 15px 70px;
  color: var(--color-dark-gray);
  background-color: var(--color-accent);
  border: var(--border);
  border-radius: var(--border-radius-xs);

  @include hover {
    background-color: var(--color-accent-1);
  }
}
