.about-slider {
    position: relative;

    &__bg {
        @include abs-center;
        top: -10%;
        translate: -50% 50%;
         @include fluid-text(152 , 62);
        user-select: none;
        transform: scaleX(1.1);
        letter-spacing: 22px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, rgba(167, 148, 88, .1), rgba(167, 148, 88, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -1;        
        font-family: var(--font-family-lora);

        @include mobile {
            top: -5%;
        }
    }

    &__header {
        color: var(--color-main);
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-weight: 400;
        position: relative;
        text-align: center;
        max-width: max-content;
        letter-spacing: 5px;

          &::before {
            @include abs-center;
            content: "";
            background: url('@/assets/icons/decorationReasonTitle.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 89px;
            height: 4px;
            left: -45%;
        }
        &::after {
            @include abs-center;
            content: "";
            rotate: -180deg;
            background: url('@/assets/icons/decorationReasonTitle.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 89px;
            height: 4px;
            left: 145%;
        }

        @include mobile-s {
            letter-spacing: 2px;
        }
    }
   

    &__inner {
        padding-block: 120px;

        @include laptop {
        padding-block: 60px;
        }   

    }
}