.hero {
    font-family: var(--font-family-base);

    &__inner {  
        color: var(--color-light);
    }

    &__slider {
        display: flex;
        max-width: 100vw;
        width: 100%;
        height: 100vh;
        inset: 0;

    &-wrapper {
        box-sizing: content-box;
    }

    &-slide {
        display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;       

        &-header {           
            position: relative;  
            z-index: 20;
            animation-name: fadeIn;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-delay: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
    }

    &-button-prev,
    &-button-next{        
        background: transparent;
        border-radius: 50%;
        border: none;

        @include tablet {        
            width: 32px !important; 
            height: 32px !important;
            top: 40% !important;
        }

        @include mobile-s {
            top: 20% !important;
        }


        svg{
        color: var(--color-light);
        }
    }
 }
 
    &__images {   
        inset: 0;
        position: absolute;
        z-index: -1;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__title {
        @include fluid-text(58 , 35);
        font-weight: 400;
    }

    &__subtitle {
        @include fluid-text(22, 18);
    }


    &__svg {
        width: 90px;
        height: 90px;

        
        animation-name: rotateShape;
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }

    
    @keyframes rotateShape {
    from {  transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    }

    @keyframes fadeIn {
        from {opacity: 0; transform: translateY(20px);}
        to {opacity: 1; transform: translateY(0);}
    }
}