.hero {
    pointer-events: none;
    border-bottom: 1px solid #cebf91;
    &::before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 10%;
        z-index: 100;
    }


    &__slider {
        position: relative;
        min-width: 100%;
        height: 100vh;
        pointer-events: none; 
        overflow: hidden;

        @include mobile {
            height: 85vh;
        }

        @include mobile-s {
            height: 80vh;
        }

        
        &-list {
            width: 100%;
            height: 100%;
        }
        

        &-item { 
            user-select: none;
            &.is-active {

                .hero__image {
                    transform: scale(1.05);
                }

                .hero__card-header {
                    --titleTop: 30%;

                    animation-name: titleAnimation;
                    animation-timing-function: linear;
                    animation-delay: 0.2s;
                    animation-duration: 0.5s;
                    animation-fill-mode: both;
                    
                    @include mobile-s {
                        --titleTop: 20%;
                    }             
                }

                 .hero__card-body {    
                    --bodyTop: 45%;         

                    animation-name: bodyAnimation;
                    animation-timing-function: linear;
                    animation-delay: 0.3s;
                    animation-duration: 0.6s;
                    animation-fill-mode: both;

                    @include mobile-s {
                        --bodyTop: 35%;
                    }             
                }
            }            
        }
    }

    @keyframes titleAnimation {
        to {
            top: var(--titleTop);
            opacity: 1;
        }
    } 
    @keyframes bodyAnimation {
        
        to {
            top: var(--bodyTop);
            opacity: 1;
        }
    }

    &__image {
        will-change: transform;
        width: 100vw;
        height: 100vh;
        transform: scale(1);
        transition: transform 3s linear;
    }

    &__card {
        position: relative;

        &-header,
        &-body {
            position: absolute;
            left: 10%;
            z-index: 200;
            max-width: 800px;

            @include tablet {
                left: 5%;
            }
        }

        &-body {            
            top: 50%;
            opacity: 0;

            @include mobile-s {
                top: 40%;
            }
        }
        
        &-header {
            top: 35%;
            opacity: 0;

            
            @include mobile-s {
                top: 25%;
            }
        }
    }
}