@font-face {
  font-family: 'Noto Serif JP';
  src: url('../assets/fonts/NotoSerifJP.woff2') format('truetype-variations');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url('../assets/fonts/NotoSansJP.woff2') format('truetype-variations');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}