html {
  &.is-lock {
    overflow: hidden;
  }

  
    &::selection {
        background-color: var(--color-main);
        color: var(--color-light);
    }

   /* Общая ширина/высота скроллбара */
        &::-webkit-scrollbar {
        width: 10px; /* для вертикального скролла */
        height: 10px; /* для горизонтального скролла */

        }

        /* Фон трека (дорожки) */
        &::-webkit-scrollbar-track {
        background-color: var(--color-main);
        border-radius: 5px;
        }

        /* Ползунок (сам скроллер) */
        &::-webkit-scrollbar-thumb {
        background-color: var(--color-main);
        border-radius: 5px;
        border: 2px solid var(--color-main); /* рамка вокруг ползунка */
        }

        /* При наведении на ползунок */
        &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-light);
        }

        scrollbar-color: var(--color-main) var(--bg-sub);
        scrollbar-width: thin;
}

body {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  font-feature-settings: "palt";
  line-height: 2;
  font-weight: 500;
  font-family: var(--font-family-base);
  color: var(--color-body);
  background-color: var(--color-light);
}

footer,
section {
  overflow: hidden
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: var(--font-family-lora);
}

h1,
.h1 {
  @include fluid-text(58, 48);

  font-weight: 700;
}

h2,
.h2 {
  @include fluid-text(52, 38);

  font-weight: 700;
}

h3,
.h3 {
  @include fluid-text(34, 28);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 400;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 400;
}

h6,
.h6 {
  @include fluid-text(20, 16);

  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
  
  &[data-title] {
      position: relative;
  }

  &[data-title]::after {
    content: attr(data-title);
    background-color: var(--color-main);
    color: var(--bg-sub);
    font-size: 12px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -24px;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px var(--bg-sub);
    opacity: 0;
    border: var(--border);
    z-index: 99999;
    visibility: hidden;
    text-transform:capitalize;
    font-family: var(--font-family-lora);
  }

  @include hover {
    &[data-title]::after {      
      opacity: 1;
      transition: all 0.1s ease 0.5s;
      visibility: visible;
    }
  }
}

:focus-visible {
  @include focus-visible;
}
