:root {
  --color-light: #FAF9F6;
  --color-light-1: #F8F5F0;

  --color-black: #000000;

  --color-gray: #808080;
  --color-dark-gray: #2F2F2F;

  --color-accent: #8FB996;
  --color-accent-1: #B56551;

  --color-midl: #E6CCB2;

  --border: var(--border-width-s) solid var(--color-midl);

  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;

  --font-family-base: 'Noto Sans JP', sans-serif;
  --font-family-serif: 'Noto Serif JP', serif;
  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
