:root {
  --color-light: #F9F1E5;
  --color-light-1: #E6C7A8;

  --color-black: #000000;

  --color-gray: #5C4B44;
  --color-dark-gray: #743A39;

  --color-accent: #F2DBDA;
  --color-accent-1: #C38A85;

  --color-midl: #E6CCB2;

  --border: var(--border-width-s) solid var(--color-accent-1);

  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;

  --font-family-base: 'Noto Sans JP', sans-serif;
  --font-family-serif: 'Noto Serif JP', serif;
  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
