.error {

    &__section {
        padding-block: 180px;
        position: relative; 
        background: linear-gradient(
        to bottom,
        #fff8ee 0%,
        #fcf0f0 100%
        );
    }

    &__br {
        @include mobile-above {
            display: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    &__title {
        color: var(--color-main);
    }   

    &__button {
             display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-main);
        border: 1px solid var(--color-main);
        padding: 15px;
        background-color: var(--color-light);
        position: relative;
        min-width: 280px;

        &::after {
            @include abs-x;
            left: 76%;
            content: "";
            background: url('@/assets/icons/arrow_right.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 1;
            width: 23px;
            height: 23px;
            transition: var(--transition-duration);
        }

        @include hover {
            background-color: var(--bg-sub);

            &::after {
                left: 80%;
            }
        }
    }

    &__bg-title {
         @include fluid-text(152 , 142);
        position: absolute;
        right: 40%;
        top: 65px;
        user-select: none;
        transform: scaleX(1.1);
        letter-spacing: 22px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, rgba(167, 148, 88, .2), rgba(167, 148, 88, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;

        @include laptop {
            top: 80px;
            right: 35%;
        }

        @include tablet {
            top: 55px;
            right: 30%;
        }

        @include mobile-s {
          letter-spacing: 13px;
          right: 0%;
        }
    }
}