.menu {
    position: relative;

      &__bg {
        @include fluid-text(152 , 42);
        position: absolute;
        right: 5%;
        top: 0px;
        user-select: none;
        transform: scaleX(1.1);
        letter-spacing: 22px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, rgba(167, 148, 88, .2), rgba(167, 148, 88, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -1;
        text-align: end;

        @include mobile {
            top: 63px;
        }
    }

    &__inner {
        padding-block: 80px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 32px;

        @include laptop {
            padding-block: 60px;
        }

        @include tablet {
            padding-block: 30px;
        }
    }

    &__header {
        min-width: 100%;
    }

     &__title {
        letter-spacing: 8px;
        line-height: 2;
        font-weight: 400;
        border-bottom: 1px solid var(--color-gray-2);
        min-width: 100%;
        padding-bottom: 32px;
        color: var(--color-main);

        @include mobile-s {
            letter-spacing: 4px;
            line-height: 1;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        row-gap: 42px;
        padding: 32px;

        @include tablet {
            padding: 0px;
        }

        @include laptop {
            grid-template-columns: 1fr;
        }
    }

    &__premium {

        &-br {
            display: none;
            @include mobile-s {
                display: initial;
            }
        }

        &-list {
            display: grid;
            row-gap: 43px;
            padding: 32px;

            @include tablet {
                padding: 0px;
                row-gap: 23px;
            }
        }

        &-item {
            padding-block: 12px;
            border-bottom: 1px solid var(--bg-border);
        }

        &-list-title {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-block: 32px;
            font-weight: 400;
            min-width: 100%;
            border-bottom: 1px solid var(--color-gray-2);

            &-span {
                color: var(--color-main);
                font-family: var(--font-family-en);
            }
        }

        &-item-title {
            font-weight: 400;
            border-bottom: 1px solid var(--bg-border);

            &-span {
                color: var(--color-main);
                font-family: var(--font-family-en);
            }
        }

        &-description {
            display: grid;
            row-gap: 10px;
        }

        &-body {
            padding-block: 10px;
        }

        &-title {
            color: var(--color-main);
            display: flex;
            gap: 16px;
            font-size: 18px;
            font-family: var(--font-family-base);
        }
    }
}