.news {

    &__card {
        display: grid;
        row-gap: 10px;

        &-list {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(3 ,1fr);
            gap: 15px;

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            @include mobile {
                grid-template-columns: 1fr;
            }
        }

        &-header {
            overflow: hidden;
            border-radius: var(--border-radius);

        }

        &-body {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding: 10px;
        }

        &-link {
            position: relative;
            max-width: max-content;
            font-weight: 600;
            @include fluid-text(20, 16);

            &::after {
                @include abs-center;
                left: 115%;
                content: "";
                background: url('/src/assets/icons/arrow-right.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;       
                transition: var(--transition-duration);     
            }

            @include hover {
                &::after {
                    left: 120%;
                }
            }
        }

        &-info {
            @include fluid-text(16, 14);
            font-weight: 500;
              display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;  
            overflow: hidden;
            text-overflow: ellipsis;

            @include mobile {
                min-height: 100px;
            }
        }

        &-date {
            padding-top: 10px;
            font-size: 16px;
        }

        &-item {
            align-self: start;
            max-width: 473px;
            max-height: 100%;
            max-width: 100%;
            border: var(--border);
            border-radius: var(--border-radius);
            

            @include hover {
                .news__card-image {
                    scale: 1.1;
                }
            }
        }

        &-image {
            width: 100%;
            border-radius: var(--border-radius);
            transition: var(--transition-duration);
        }
    }
}