.reason {
    position: relative;
    z-index: 10;


    &__inner {
        display: grid;
        row-gap: 64px;

        @include tablet {
            row-gap: 32px;
        }
    }

    &__extra {
        justify-self: center;
    }

    &__card {
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: 40px;

        @include tablet {
            row-gap: 20px;
        }

        &-title {
            color: var(--color-main);
        }
    }

    &__images {
        position: relative;        
        border-radius: 0 2.5rem;

        @include mobile {
            width: 100%;
        }

        &::after {
            position: absolute;
            content: "";
            top: -11px;
            right: -11px;
            width: 100%;
            height: 100%;
            border: 1px solid #cfb882;
            border-radius: 0 2.5rem;
            z-index: -1;            
        }
    }

    &__image {
        border-radius: 0 2.5rem;
        width: 100%;

    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-main);
        border: 1px solid var(--color-main);
        padding: 15px;
        background-color: var(--color-light);
        position: relative;
        min-width: 280px;

        &::after {
            @include abs-x;
            left: 76%;
            content: "";
            background: url('@/assets/icons/arrow_right.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 1;
            width: 23px;
            height: 23px;
            transition: var(--transition-duration);
        }

        @include hover {
            background-color: var(--bg-sub);

            &::after {
                left: 80%;
            }
        }
        
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @include tablet {
            grid-template-columns: repeat(2 ,1fr);
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__bg-title {
        @include fluid-text(170 , 70);
        position: absolute;
        top: 100px;
        text-transform: uppercase;
        left: 0px;
        transform: scaleX(1.1);
        transform-origin: left;
        letter-spacing: .15em;
        line-height: 1.2;
        font-weight: 600;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        z-index: 1;        

        @include mobile {
            top: 50px;
        }
    }
}