.header {
  padding-block: 30px;
  background-color: var(--color-light-gold);

  @include mobile {
    padding-block: 15px;
  }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
    }

    &__menu {

        @include tablet {
            position: fixed;
            inset: 0;
            background-color: var(--color-light-gold);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition-duration);

            &:not(.is-active) {
                @include hide;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;

            @include tablet {
                justify-content: start;
                flex-direction: column;
                row-gap: 30px;
            }
        }

        &-link {
            position: relative;

            &.is-active {
                color: var(--color-accent-1);
                pointer-events: none;
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 0%;
                background-color: var(--color-accent-2);
                transition: var(--transition-duration);
                height: 2px;
                border-radius: var(--border-radius-xs);
            }

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::before {
                content: "";
                @include abs-center;
                width: 100%;
                height: 44px;
            }
        }
    }


    &__button {
        @include tablet {
            z-index: 100;
        }
    }
}
